server:
  port: 8081

spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 62629678556-4sdn31go99vlev9qtc2n5312orfo8s6h.apps.googleusercontent.com
            client-secret: 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
            redirect-uri: http://localhost:8081/login/oauth2/code/google
            scope:
              - openid
              - email
              - profile
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: ${JWT_SECRET:S9kf!pZ29x$kL3gM8^vqY7bT!hN#Q2rLzA*BwEfU}
  expiration: 3600000

frontend:
  url: https://cha-ching-90f7d.web.app
